# 前端
node_modules/
dist/
dist-ssr/
.env
.env.local
.vite/
.DS_Store
# 前端依赖与缓存

**/node_modules/
frontend/node_modules/
# Java 编译文件
*.iml

# Java
target/
*.class
*.jar
*.war
*.ear
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# 其他
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/