# 前端项目自动生成的垃圾
node_modules/
dist/
dist-ssr/
.env
.env.local
.vite/
.idea/
.DS_Store

# Java/Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# 你原来的配置
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml